{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style12.css'%}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
       <!-- THIS LINE -->
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>

<script src="https://kit.fontawesome.com/5a2b925216.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #03A84E;}


</style>
  </head>
  <body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="" href="{% url 'recruiter:employer_home' %}"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar mr-auto">
  <form class="form-inline new-form">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1">
	  <button class="search">Search</button>
    </div>
  </form>
</nav>


	<ul class="navbar-nav ml-auto">
<!--      <li class="nav-item">-->
<!--       <a class="nav-link" href="{% url 'recruiter:employer_home' %}">Home</a>-->
<!--      </li>-->
<li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:employer_home' %}"><i class="fa fa-home" aria-hidden="true"></i></a>
    <span class="menu-text">Home</span>
  </li>
<li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:job_post' %}"><i class="fas fa-briefcase"></i></a>
    <span class="menu-text">Add job </span>
  </li>
<!--	  <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Resume</a>-->
<!--      </li>-->
<li class="nav-item">
                                        <a class="nav-link" href="{% url 'recruiter:advance-search' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-search"></i></a>
                                        <span class="menu-text" >Adv Search</span>
                                    </li>
                                    
<li class="nav-item ">
    <a class="nav-link " href="#"><i class="fas fa-phone-square-alt fa-xs"></i></a>
    <span class="menu-text">Contact Us </span>
  </li>

{% comment %} <li class="nav-item">
    <a class="nav-link" href="#"><i class="fas fa-address-card fa-2x"></i></a>
    <span class="menu-text">About Us </span>
  </li> {% endcomment %}



<li class="nav-item bell-icon ">
    <a class="nav-link" href="#"><i class="fa fa-bell" aria-hidden="true"></i> </a>
    <span class="menu-text">Notification</span>
  </li>

<li class="nav-item">
<div class="dropdown">
  <button class="dropbtn"><img src={{cp.company_logo.url}}></button>
  <div class="dropdown-content">
      <a href="#">My Profile</a>
    <a href="#">Edit Profile</a>
    <a href="{% url 'recruiter:logout' %}">Log Out</a>
  </div>
</div>  </li>

	 </ul>

  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
       <section class="job-portal all-jobs">
	<div class="container main-wid">
		<div class="row">
			<div class="col-md-10 col-12 mx-auto">
				<div class="heading">
					<h3>{{job.job_title}}</h3>
				</div>
			</div>

			<div class="col-md-10 col-12 mx-auto">
				<div class="heading-action">
					<ul class="list-inline">
						<li>Action <span>Taken</span></li>
                        <li><a href="{% url 'recruiter:shortlist_view_applied_candidate' job.pk %}"><span><img src="images/ribban.png"></span> Shortlisted candidate</a></li>
						<li><a href="{% url 'recruiter:disqualify_view_applied_candidate' job.pk %}"><span><i class="fa fa-check-circle" aria-hidden="true"></i></span> Disqualified candidates</a>  </li>

					</ul>
				</div>
			</div>


			<div class="col-md-3 col-12">
				<div class="all-job-left">
                      <form class="form-inline" type="get">
						<h3>Quick Search</h3>
						<div class="keywords">
							<input type="text" id="keyword_box" name="keyword_box" Placeholder="keywords">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>
						<div class="keywords">
							<input type="text" id="company_box" name="company_box"Placeholder="Company">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>
						<div class="keywords">
							<input type="text" id="location_box" name="location_box"Placeholder="Destination">
							<i class="fa fa-plus" aria-hidden="true"></i>
						</div>

						<div class="keywords-exp">
							<h4>Experience (in years) </h4>

							<input type="text" id="min_box" name="min_box" placeholder="Min"> to</span>
							<input type="text" id="max_box" name="max_box"  placeholder="Max">
						</div>
						<div class="keywords-ctc">
							<h4>CTC  </h4>
							<div class="ctc-inner">
							 <span class="from">From</span>
							<input type="text" id="min_salary_box" name="min_salary_box" placeholder="Minimum"> to</span>
							<input type="text" id="max_salary_box" name="max_salary_box"  placeholder="Max">

						</div>

						</div>
<!--						<div class="keywords-ctc-active">-->
<!--							<h4>Active in</h4>-->

<!--							 <select>-->
<!--								<option>Active in</option>-->
<!--								<option>Active in</option>-->
<!--								<option>Active in</option>-->
<!--								<option>Active in</option>-->
<!--							 </select>-->
<!--						</div>-->

						<div class="keywords-srch">
							<button type="submit"><i class="fa fa-search" aria-hidden="true"></i> Refine Search</button>
							<button class="clear" type="reset">Clear</button>

						</div>
                      </form>
				</div>
			</div>




    {% for c in candidate %}


   <div class="col-md-9 col-12">
{% if c.6.is_shortlisted %}
    {% elif c.6.is_disqualified %}
    {% else %}
				<div class="job-right all-job-rights">
					<div class="job-right-jobs">
          
					<!-- <input type="checkbox" placehlder="check"> -->
          <div class="col-md-4 col-4 p-3 mb-2 bgcolor">
             							<div class="text-jobs">

              <h5>Skills</h5>  </div>
              <p class="text-black">{% for s in c.3 %}
                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Human Resource Management</a>
                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Shortlist</a>
                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Shortlist</a>
                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Shortlist</a>
                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Shortlist</a>
                
                              {% comment %} {{s.skill}}({{s.rating}}),  {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}),
                              {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}),
                              {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}), {{s.skill}}({{s.rating}}),  {% endcomment %}
                                  
                                  {% endfor %}
                              </p>
                              <div class = "post_body text-white">
                                {{ post.body|safe|truncatewords:"50"|linebreaks }}
                                <a href="{{ url_for_full_content }}">view  more</a>
                                <br>
                                <div class= "btm">
                                <a class="btn btn-success  " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Shortlist</a>
                                <a class="btn btn-success " href="{% url 'recruiter:disqualify' c.6.pk %}" role="button">Reject</a>
                                </div>
                    </div>
                  </div>
<div class="col-md-9 col-12">
						<div class="job-right-jobs-image">

						<img src={{c.0.profile_pic.url}}>
						<div class="jobs-main">
            
							<div class="text-jobs">
              
                              <h5>{{c.5.first_name}} {{c.5.last_name}}</h5>
                              

  <ul class="list-inline">

									<li><img src="{% static 'images/suitcase.png' %}">{{c.7.Total_Working}}</li>

									<li><img src="{% static 'images/money.png' %}"> {{c.7.exp_salary}}</li>
									<li><img src="{% static 'images/location.png' %}"> {{c.7.prefer_location}}</li>
								</ul>
                
							</div>
              

              
                            </div>
					</div>
          
               <div class="info">
							<div class="info-left">
								<ul class="list-inline">
                           	<li><img src="{% static 'images/mail.png' %}"> Email ID: <span>{{c.0.user_id}}</span></li>
									<li><img src="{% static 'images/phone.png' %}"> Phone no. : <span>{{c.0.phone}}</span></li>
									<li><img src="{% static 'images/location.png' %}"> Pref. Location : <span>{{c.0.address}}</span></li>
									<li><img src="{% static 'images/educa.png' %}">Education :  <span>{{c.1.degree}} from {{c.1.institute_name}}</span></li>
                                    <li><img src="{% static 'images/educa.png' %}">Company :  <span>{{c.2.0.organization}} </span></li>

								</ul>
                
							</div>
                  
						</div>
            </div>

            



<div class="download">
							<button><a href="{{c.4.coverletter_link.url}}" ><img src="{% static 'images/download1.png' %}">Download Cover Letter</a></button>
							<button><a href="{{c.4.resume_link.url}}"><img src="{% static 'images/download2.png' %}">Download Resume</a></button>



    
<div class="accordion" id="accordionExample">
  <div class="card">
    <div class="card-header" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#{{c.0.user_id}}" aria-expanded="false" aria-controls="collapseOne">
         Check the answer to your question
        </button>
      </h5>
    </div>

    <div id={{c.0.user_id}} class="collapse show" aria-labelledby="headingOne" data-parent="#accordionExample" aria-expanded="false" >
      <div class="card-body">

    {% for q in question %}
          <div>
     <span style="color: #03A84E;">Q.</span> {{q.question}}<span style="color: #03A84E;">?</span></div>

          {% for a in answer %}

          {% if a.question_id == q %}
          {% if a.candidate_id == c.0.user_id %}
          <div>
          {{a.answer}}</div>
          {% endif %}
          {% endif %}
          {% endfor %}
          {% endfor %}

     </div>
    </div>
  </div>
</div></div>





</div>





    {% endif %}
                    </div>


       </div>

                    {% endfor %}





			</div>
	</div>
</section>

<!-- skills model -->






<footer>
<p>Footer section</p>
</footer>

<style>
ul#menu li {
  display:inline;
}
#spacer {
padding: 21px;

}


.menu-text{
  font-size: 0.7em;

}
.download{
  margin-top: 4px;

}
.btm{
position:absolute;
bottom:10px;
}


.bgcolor {
  min-height: 320px;
  float: right;
  background-color: #ced4da;
}

.job-right-jobs{
box-shadow:0px;
padding:5px;
}
*{
box-sizing:unset;
}
.job-right.all-job-rights .job-right-jobs {
    padding: 0px 0px 0px 0px;
}

.card-header{
background-color:#ced4da;
}



</style>
<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>