{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/style12.css' %}">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"/>
<script src="https://kit.fontawesome.com/5a2b925216.js" crossorigin="anonymous"></script>

<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<style>
    .dropbtn {
  background-color: #FFFFFF;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #03A84E;}


</style>
  </head>
  <body>

	<header>
		<div class="container">
			<div class="row">
				<div class="col-md-12 col-12">
					<div class="top-navbar">
						<nav class="navbar navbar-expand-lg ">
  <a class="" href="{% url 'recruiter:employer_home' %}"><img src="{% static 'images/green.png' %} " width="60" height="60"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <nav class="navbar mr-auto">
  <form class="form-inline">
    <div class="input-group">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"><i class="fa fa-search" aria-hidden="true"></i></span>
      </div>
      <input type="text" class="form-control" placeholder="Job Title" aria-label="Username" aria-describedby="basic-addon1">
    </div>
  </form>
</nav>




	<ul class="navbar-nav ml-auto">
<!--      <li class="nav-item">-->
<!--       <a class="nav-link" href="{% url 'recruiter:employer_home' %}">Home</a>-->
<!--      </li>-->
<li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:employer_home' %}"style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-home" aria-hidden="true"></i></a>
    <span class="menu-text">Home</span>
  </li>
	  <li class="nav-item ">
    <a class="nav-link" href="{% url 'recruiter:job_post' %}"style="text-align: center;padding: 0rem 0rem;"><i class="fas fa-briefcase"></i></a>
    <span class="menu-text">Add job </span>
  </li>
<!--	  <li class="nav-item">-->
<!--        <a class="nav-link" href="#">Resume</a>-->
<!--      </li>-->
<li class="nav-item">
                                        <a class="nav-link" href="{% url 'recruiter:advance-search' %}" style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-search"></i></a>
                                        <span class="menu-text" >Adv Search</span>
                                    </li>
<li class="nav-item ">
    <a class="nav-link " href="#"style="text-align: center;padding: 0rem 0rem;"><i class="fas fa-phone-square-alt fa-xs"></i></a>
    <span class="menu-text">Contact Us </span>
  </li>

{% comment %} <li class="nav-item">
    <a class="nav-link" href="#"style="text-align: center;padding: 0rem 0rem;"><i class="fas fa-address-card fa-2x"></i></a>
    <span class="menu-text">About Us </span>
  </li> {% endcomment %}

  

<li class="nav-item bell-icon ">
    <a class="nav-link" href="#"style="text-align: center;padding: 0rem 0rem;"><i class="fa fa-bell" aria-hidden="true"></i> </a>
    <span class="menu-text">Notification</span>
  </li>

<li class="nav-item">
<div class="dropdown">
  <button class="dropbtn"><img src={{c.company_logo.url}}></button>
  <div class="dropdown-content">
    <a href="#">My Profile</a>
    <a href="#">Edit Profile</a>
    <a href="{% url 'recruiter:logout' %}">Log Out</a>
  </div>
</div>
  </li>
	 </ul>
  </div>
</nav>
					</div>
				</div>
			</div>
		</div>

	</header>
    <section class="job-portal">
	<div class="container">
		<div class="row">
			<div class="col-md-10 mx-auto col-12">
				<div class="heading">
					<h2>Job Title: <span>{{job.job_title}}</span></h2>

				</div>
			</div>
<div class="col-md-10 col-12 mx-auto">
				<div class="job-right developer">
					<div class="job-right-jobs">
						<div class="job-right-jobs-image">
						<img src="{{c.company_logo.url}}">
						<div class="jobs-main">
							<div class="text-jobs">

                                <h5>{{c.company_name}}</h5>
                                </div>
							<p class="min"><span>Posted on:</span>{{job.created_on}}</p>
						</div>
                    </div>
						<h3>JOB DESCRIPTION</h3>
                        <p class="job-para">
                            {{job.job_description}}</p>
                            <p class="job-para">
                        {{job.employment_type}}</p>
                        <p class="job-para">
                        {{job.skill }}</p>
                        <p class="job-para">
                        {{job.job_location }}</p>
                        <p class="job-para">
{{job.job_experience}}
                    </p>
                    <h3>PEOPLE APPLIED</h3>
                      <ul class="list-inline">
							<li>Total Number of Application: <span>{{job.get_applied_no}}</span></li>
                            </ul>

{% if job.is_save_later %}
<a class="btn btn-primary" href="{% url 'recruiter:publish_job' job.pk %}" role="button">publish</a>
{% else %}
<a class="btn btn-primary" href="{% url 'recruiter:view_applied_candidate' job.pk %}" role="button">View applied candidate</a>
{% endif %}
                    </div>
                </div>
</div>
        </div>
    </div>
    </section>

</body>
</html>